<!DOCTYPE html>
<html>
<head>
	<title>Коммунальные услуги</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300&display=swap" rel="stylesheet">
</head>
<body>
	<h1 align = 'center'>Веб-сервис по предоставлению жилищно-коммунальных услуг</h1>
	<div class = "navbar"><a href="/">На главную</a></div>

	<div class = "dropdown">
		<button>Водоснабжение</button>
		<div class = "dropdown-content">
			{% for serv, info  in water_services.items() %}
			<a title = "{{info}}" > {{serv}}</a	>
			{% endfor %}
		</div>
	</div>

	<div class = "dropdown">
		<button>Электричество</button>
		<div class = "dropdown-content">
			{% for serv, info  in electricity_services.items() %}
			<a title = "{{info}}" > {{serv}}</a>
			{% endfor %}
		</div>
	</div>

	<div class = "dropdown">
		<button>Газоснабжение</button>
		<div class = "dropdown-content">
			{% for serv, info  in gas_services.items() %}
			<a title = "{{info}}" > {{serv}}</a>
			{% endfor %}
		</div>
	</div>

</body>
</html>

<link rel="stylesheet" href="{{ url_for('static', filename='user/main.css') }}">
