h1 {
	text-align-last: center;
}

.menu {
	overflow: hidden;
	background-color: #333;
}

.menu .exit a {
	float: left;
	padding: 16px 15px;
	color: white;
	text-decoration: none;
}

.menu .account a{
	float: right;
	color: white;
	padding: 16px 15px;
	text-decoration: none;
}

form {
	text-align: center;
}

form label {
	display: block;
	padding: 10px 10px;
}



button {
	position: relative;
	top: 20px;
	right: 20px;
	text-align: center;
	padding: 4px 10px;
}