{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>Техническая поддержка</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

</head>
<body>
	<!-- <form action = "/catalog"><button>Услуги</button></form>-->
	<h1 align = 'center'>Веб-сервис по предоставлению жилищно-коммунальных услуг</h1>
	<div class="navbar">
  		<a href="/" title = "Новостей пока нет">Новости</a>
  		<div class="dropdown">
    		<button class="dropbtn">Услуги</button>
    		<div class="dropdown-content">
      			<a href="/utility_services">Коммунальные услуги</a>
      			<a href="/house_services">Жилищные услуги</a>
    		</div>
  		</div>
		<div class="account">
			<a href="/registration">Регистрация</a>
			<a href="/profile">Личный кабинет</a>
			<a href="/logout">Выйти из аккаунта</a>
		</div>
	</div>


  <form method="post">
      <label for="name">Ваше имя</label>
      <input type="text" id="name" name="name" placeholder="Имя" value="{{name}}" />
      <label for="code" id="code-label">Введите код комнаты</label>
      <input type="text" id="code" name="code" placeholder="Код комнаты" value="{{code}}" />
      <div>
      <button type="submit" id="join" name="join">Подключиться</button>
      <button type="submit" id="create" name="create">Создать комнату</button>
      </div>
  </form>

</body>
</html>
	
<link rel="stylesheet" href="{{ url_for('static', filename='user/main.css') }}">
{% endblock  %}



<!-- 
<div id="home-container">
  <h1 id="home-header">Flask Chat 💬</h1>
  {% if error %}
  <p id="error">{{error}}</p>
  {% endif %}
  <form method="post" id="chat-widget-home">
    <div id="name-input">
      <label for="name">Enter your name</label>
      <input type="text" id="name" name="name" placeholder="Enter name" value="{{name}}" />
    </div>
    <div>
      <label for="code" id="code-label">Enter chat room code</label>
      <input type="text" id="code" name="code" placeholder="Enter code" value="{{code}}" />
      <button type="submit" id="join" name="join">Join</button>
    </div>
    <hr />
    <button type="submit" id="create" name="create">Create Room</button>
  </form>
</div>
 -->