<body>
	<span class="reg"> <a href="/">Выйти</a></span>
</body>

<form method="POST">
	<div class="container">
		<label><b>Имя</b></label>
		<input type="text" placeholder="" name="Name" required>
		<label><b>Фамилия</b></label>
		<input type="text" placeholder="" name="Surname" required>
		<label><b>Регион</b></label>
		<input type="text" placeholder="" name="Region" required>
		<label><b>Город</b></label>
		<input type="text" placeholder="" name="City" required>
		<label><b>Улица</b></label>
		<input type="text" placeholder="" name="Street" required>
		<label><b>Дом</b></label>
		<input type="text" placeholder="" name="Home" required>
		<label><b>Подъезд</b></label>
		<input type="text" placeholder="" name="Entrance" required>
		<label><b>Квартира</b></label>
		<input type="text" placeholder="" name="Flat" required>
		<label><b>Логин</b></label>
		<input type="text" placeholder="" name="Login" required>
		<label><b>Пароль</b></label>
		<input type="text" placeholder="" name="Password" required>
	</div>
</form>

<link rel="stylesheet" href="{{ url_for('static', filename='css/reg.css') }}">