<head>
	<title>Регистрация</title>
</head>
<body>
	<span class="reg"> <a href="/">Выйти</a></span>
</body>

<form method="POST">
	<div class="container">
		<label for="Name"><b>Имя</b></label>
		<input type="text" placeholder="" name="Name" required>
		<label for="Surname"><b>Фамилия</b></label>
		<input type="text" placeholder="" name="Surname" required>
		<label for="Region"><b>Регион</b></label>
		<input type="text" placeholder="" name="Region" required>
		<label for="City"><b>Город</b></label>
		<input type="text" placeholder="" name="City" required>
		<label for="Street"><b>Улица</b></label>
		<input type="text" placeholder="" name="Street" required>
		<label for="Home"><b>Дом</b></label>
		<input type="text" placeholder="" name="Home" required>
		<label for="Entrance"><b>Подъезд</b></label>
		<input type="text" placeholder="" name="Entrance" required>
		<label for="Flat"><b>Квартира</b></label>
		<input type="text" placeholder="" name="Flat" required>
		 <button type="submit" class="button">Завершить</button>
	</div>
</form>

<link rel="stylesheet" href="{{ url_for('static', filename='css/reg.css') }}">