<!-- <form method="post">
    <div class="container">
        <label>Имя<input type='text' placeholder="" name='name' required></label>
        <label>Фамилия<input type='text' placeholder="" name='surname' required></label>
        <button type="submit">Завершить</button>
    </div>
</form>
-->

<a href="/">Выйти</a>
<link rel="stylesheet" href="{{ url_for('static', filename='user/reg.css') }}">


<html>
<head>
    <title>Регистрация</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300&display=swap" rel="stylesheet">
</head>

<body>
	<h1 align = 'center'>Система по предоставлению жилищно-коммунальных услуг</h1>
	<div class="navbar">
 		<a href="/">На главную</a>
        <h1>Шаг второй: Личные данные</h1>
	</div>
    <form method = "post">
        <label>Имя <input type='text' placeholder="Ваше имя" name='name'></label>
        <label>Фамилия <input type='text' placeholder="Ваша фамилия" name='surname'></label>
        <button type="submit">Продолжить</button>
    </form>
</body>
</html>

<link rel="stylesheet" href="{{ url_for('static', filename='user/main.css') }}">