

<form method="post">
    <div class="container">
        <label>Регион<input type='text' placeholder="" name='region'></label>
        <label>Город<input type='text' placeholder="" name='city'></label>
        <label>Улица<input type='text' placeholder="" name='street'></label>
        <label>Дом<input type='text' placeholder="" name='home'></label>
        <label>Квартира<input type='text' placeholder="" name='flat'></label>
        <label>Подъезд<input type='text' placeholder="" name='entrance'></label>
        <button type="submit">Завершить</button>
    </div>
</form>

<a href="/">Выйти</a>
<link rel="stylesheet" href="{{ url_for('static', filename='user/reg.css') }}">